# Файлы C#
[*.cs]

# IDE0007: Использование неявного типа
csharp_style_var_when_type_is_apparent = false

# IDE0007: Использование неявного типа
csharp_style_var_for_built_in_types = false

# CA1707: Идентификаторы не должны содержать символы подчеркивания
dotnet_diagnostic.CA1707.severity = silent

# IDE1006: Стили именования
dotnet_diagnostic.IDE1006.severity = silent

# CA1815: Переопределите операторы Equals и равенства для типов значений
dotnet_diagnostic.CA1815.severity = silent

# CA1034: Вложенные типы не должны быть видимыми
dotnet_diagnostic.CA1034.severity = silent

# CS8500: Это принимает адрес, получает размер или объявляет указатель на управляемый тип
dotnet_diagnostic.CS8500.severity = silent

# CA2255: Атрибут "ModuleInitializer" не должен использоваться в библиотеках
dotnet_diagnostic.CA2255.severity = silent

# CA1051: Не объявляйте видимые поля экземпляров
dotnet_diagnostic.CA1051.severity = silent
